:root {
    --bgGreen: #94a194;
    --AccentGreen: #233323;
    --AccentOrange: #bf7934;
    --DarkOrange: #5c4a38;
    --white: #f9faf7;
}

body {
    background: var(--bgGreen);
    margin : -1%;

    overflow-x: hidden;
}


#startCardsID{
    margin-bottom: 10vh;
}

#cardID{
    background: var(--white);

    display: inline-block;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px var(--AccentGreen);

    vertical-align: top;
}
#cardID div{
    text-align: center;
    padding-bottom: 20px;
}
#cardID div a{
    padding: 10px;
    color: var(--DarkOrange);
    text-decoration: none;
}

#cardID div a:hover{
    color: var(--AccentOrange);
}


#bioCardID{
    display: inline-block;
    border-radius: 5px;
    padding: 5px 30px;

    vertical-align: bottom;
}
#bioCardID div{
    color: var(--white);
}

#navID{
    background: var(--white);
    border-radius: 5px;
    
    box-shadow: 1px 2px 5px 1px var(--AccentGreen);
    color: var(--DarkOrange);

    position: sticky;
    top: 0px;
}
#navID a:hover{    
    color: var(--AccentOrange);
}




.title{
    color: var(--DarkOrange);

}
.title h1{
    text-align: center;
}

.imgContainer{
    width: 90%;
    border-radius: 10px;
    margin: auto;
}